<style>
    .animate-if {
    }

    .animate-if.ng-enter, .animate-if.ng-leave {
        -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }

    .animate-if.ng-enter,
    .animate-if.ng-leave.ng-leave-active {
        opacity:0;
    }

    .animate-if.ng-leave,
    .animate-if.ng-enter.ng-enter-active {
        opacity:1;
    }
</style>
<div ng-show="auth.login" class="container-fluid">
    <div class="container">
        <div ng-show="newrecept.answer" ng-class="newrecept.answer.status?'alert-success':'alert-danger'" class="alert alert-success alert-dismissible animate-show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Внимание!</strong> {{newrecept.answer.msg}}
        </div>
        <div ng-hide="checked" class="panel panel-default">
            <div class="panel-heading">Добавление рецепта Шаг №1</div>



            <div class="panel-body">
                <form name="form" novalidate>
                    <div class="form-group">
                        <label for="recipesname">Название рецепта</label>
                        <input ng-model="newrecept.name" type="text" class="form-control" id="recipesname" placeholder="Введите название рецепта">
                    </div>
                    <div class="row">
                        <div class="file_upload">
                            <div class="dr_area col-md-8">
                                <div ngf-drop ngf-select ng-model="files" class="drop-box" 
                                     ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                                     accept="image/*">Перетащите сюда фотографии блюда, или нажмите на область</div>
                                <div ngf-no-file-drop>Ваш браузер не поддерживает перетаскивание файлов</div>
                            </div>
                            <div class="col-md-4">
                                <!--<div ng-hide="files" class="btn btn-default" ngf-select ng-model="files" ngf-multiple="1">Выберите файлы</div>-->
                                <div ng-show="files" ng-click="upload(files)" class="btn btn-default">Загрузить изображения</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">   
                        <div class="col-md-12">

                            <div class="animate-show">
                                <p>Предпросмотр изображения</p>
                                <ul class="list-inline preview">
                                    <li ng-animate="{enter: 'repeat-enter', leave: 'repeat-leave', move: 'repeat-move'}"  class="col-md-2" ng-repeat="image in files track by $index">
                                        <span ng-click="remove_preview($index)" class="remove_preview glyphicon glyphicon-remove"></span>
                                        <img class="img-thumbnail" ngf-src="image" /> 
                                    <progressbar max="100" value="progress[$index].procent"><span>{{progress[$index].procent}} / {{100}}</span></progressbar>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <div class="animate-show">
                                <p>Загруженные изображения</p>
                                <ul class="list-inline downloaded">
                                    <li ng-animate="{enter: 'repeat-enter', leave: 'repeat-leave', move: 'repeat-move'}" ng-click="newrecept.main_photo = $index" ng-class="{'active':newrecept.main_photo == $index}" class="col-md-2" ng-repeat="item in newrecept.photos track by $index">
                                        <img src="{{item.path}}" alt="" class="img-thumbnail">
                                    </li>
                                </ul>
                            </div>

                          

                        </div>
                    </div>

                    <div class="clear"></div>

                    <h4>Выберите инредиенты из списка или добавьте новые</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <ui-select  multiple tagging="tagTransform" tagging-label="(custom 'new' label)" ng-model="newrecept.multipleIngredients.items" theme="bootstrap"   title="Choose a color">
                                <ui-select-match placeholder="Выберите ингредиент...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="item in ingredients | filter:$select.search">
                                    {{item.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">

                            <div  ng-repeat="item in newrecept.multipleIngredients.items">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{item.name}}</span>
                                    <input integer="{{$index}}" type="text" ng-model="item.count" class="form-control" placeholder="количество" aria-describedby="basic-addon1">
                                </div>  
                                <div class="alert alert-danger" ng-show="item.invalid">Значение должно быть числом!</div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div  ng-repeat="item in newrecept.multipleIngredients.items">

                                <ui-select  ng-model="item.unit.selected" theme="bootstrap">
                                    <ui-select-match placeholder="Выберите единицу измерения из списка.... ">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="unit in units | filter: $select.search">
                                        <div ng-bind-html="unit.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <nav>
                        <ul class="pager">
                            <li class="next"><a ng-click="checked = true" href="">Перейти к следующему шагу <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="sr-only">50% Complete (success)</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!-------------------------------------------------------------------Шаг номер 2------------------------------------------------------------------>
        <div ng-show="checked" class="animate-if panel panel-default">
            <div   class="panel-heading">Добавление рецепта Шаг №2</div>
            <div class="panel-body">
                <form>
                    <div text-angular="text-angular" name="htmlcontent" ng-model="newrecept.htmlcontent" ta-disabled='disabled'></div>
                    <hr>
                    <textarea class="form-control" ng-model="newrecept.htmlcontent" style="width: 100%"></textarea>
                    <div class="photos">
                        <span ng-repeat="item in newrecept.photos">
                            <img class="col-md-2" src="{{item.path}}" alt="">
                        </span>
                    </div>
                    <div class="clear"></div>
                    <nav>
                        <ul class="pager">
                            <li class="previous"><a ng-click="checked = false" href=""><span aria-hidden="true">&larr;</span> Вернуться к предыдущему шагу</a></li>
                            <li class="next"><a ng-click="verification()" href="">Отправить рецепт на проверку <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">100% Complete (success)</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>