<br>
<div set-class-when-at-top="fix-to-top" class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default" >
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/home/">Logo</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li ng-repeat="item in menu track by $index" ng-show="getShow($index)"  ng-class="getClass(item.link)"><a ng-click="take($index)" href="#{{item.link}}">{{item.text}}</a></li>

                        <li ng-show="auth.user_login" ><a href="" ng-click="auth.logout()">Выйти</a></li>
                    </ul>
                </div>
                <script src="//ulogin.ru/js/ulogin.js"></script>
                <ul ng-hide="auth.user_login" class="nav navbar-nav navbar-right">
                    <li><a href="">Вход<span class="glyphicon glyphicon-arrow-right"></span></a></li>
                    <li>

                        <a class="navbar-brand" href="">
                            <div   id="uLogin" data-ulogin="display=panel;fields=first_name,last_name;providers=vkontakte,odnoklassniki,google,yandex,facebook,mailru;hidden=other;redirect_uri=http%3A%2F%2Fkulinar%2Fphp%2Findex.php%3Faction%3Dauth"></div>
                        </a>
                    </li>
                </ul>

                <ul ng-show="auth.user_login" class="nav navbar-nav navbar-right">
                    <li><a href=""><span>Добро пожаловать </span>{{auth.user.first_name}}</a></li>
                </ul>
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>
